@CHARSET "ISO-8859-1";

.errorMsg {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

.successMsg {
	font-size: 14px;
	font-weight: bold;
	color: green;
	font-family: Arial;
}

.rf-dt {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	padding: 0px;
}

.rf-dt-c {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
}